<!DOCTYPE html>
<html>
  <head>
    <title>Library Dashboard</title>
  </head>
  <body>
    <table id="header" width="100%" cellspacing="0" border="1">
              <tr>
                <td align="center"><a href="homepage.html"><img height="50px" weight="50px" src="../Assests/logo.png" alt=""></a></td>
                <td align = "center"><h1>School Management System</h1><h3>Library</h3></td>
                <td>
                  <div id="topnav" align="center">
                    <a href="myprofile.html">My Profile</a>
                    <a href="logout.html">Logout</a>
                  </div>
                </td>
              </tr>
            </table>

    <table id="navigation" width="100%" cellspacing="0" border="1">
        <tr align="center">
            <td><a href="homepage.html">Homepage</a></td>
            <td><a href="addnewbooks.html">Add New Book</a></td>
            <td><a href="deletebook.html">Delete book</a></td>
            <td><a href="viewbook.html">viewbook</a></td>
            <td><a href="login.html">Login</a></td>
            <td><a href="registration.html">registration</a></td>
            <td><a href="updatebook.html">updatebook</a></td>
            <td><a href="changepassword.html">changepassword</a></td>
        </tr>
    </table>

    <div id="maincontent">
        <form action="regCheck.php" method="POST">
            <fieldset>
              <legend>Add New Book</legend>
                <table>
                    <tr>
                        <td>Enter ISBN :</td>
                        <td><input type="text" name="isbn" value="" ></td>
                    </tr>
                    <tr>
                        <td>Enter Title :</td>
                        <td><input type="text" name="booktitle" value=""></td>
                    </tr>
                    <tr>
                        <td>Enter Author :</td>
                        <td><input type="text" name="author" value=""></td>
                    </tr>
                    <tr>
                        <td>Enter Edition :</td>
                        <td><input type="text" name="edition" value=""></td>
                    </tr>
                    <tr>
                        <td>Enter Publication :</td>
                        <td><input type="text" name="publication" value=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Add New Book">
                            <input type="reset" value="Reset"></td>
                    </tr>
             </table>
            </fieldset>
          </form>
    </div>

    <table id="footer" width="100%" cellspacing="0" border="1">
      <tr>
        <td align="center"><h4>Copyright &copy; 2021</h4></td>
      </tr>
    </table>

  </body>
</html>