<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashbord</title>
  </head>
  <body>
    <table border="1" cellspacing="0" width="100%" >
      <tr>
        <td colspan="2">
          <table width="100%">
            <tr>
              <td><img height="50px" weight="50px" src="../Resources/logo.png" alt=""></td>
              <td align = "center"><h1>School Management System</h1></td>
              <td align = "right">
                <a href="../Controller/logout.php">Logout</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
 
      <tr id="navigation">
        <td width="350px">
          <h2 align="center">Login As </h2></br>
          <hr>
          <ul>
            <li><a href="studentLibraryAcc.html">Create Library Account(Student)</a></li>
            <li><a href="teacherLibraryAcc.html">Create Library Account(Teachers)</a></li>
            <li><a href="addnewbook.html">Add New Book</a></li>  
            <li><a href="routine.html">Delete Book</a></li>
            <li><a href="viewprofile.html">Update Book</a></li>
            <li><a href="teachernotice.html">View Students List</a></li>
            <li><a href="schoolnotice.html">View Teachers List</a></li>
            <li><a href="leaverequest.html">Block Library Account</a></li>
            <li><a href="">Delete Library Account</a></li>
            <li><a href="">New Book Arrival Notice</a></li>
            <li><a href="requestforbook.html">Book Borrow History</a></li>
            <li><a href="">Issue Book History</a></li>
            <li><a href="">Search Book Information</a></li>
            <li><a href="">Issue Book History</a></li>

          </ul>
        </td>
        <td id="main content">
            <form action="../Controller/teacherAccCheck.php" method="POST">
                <fieldset>
                  <legend>Create Library Account(Teachers)</legend>
                    <table>
                      <tr>
                        <td>Enter Email Address</td>
                        <td>: <input type="email" name="mail" value="" ></td>
                      </tr>
                      <tr>
                        <td>Enter Name</td>
                        <td>: <input type="text" name="name" placeholder="Official Name"></td>
                      </tr>
                      <tr>
                        <td>Enter Teacher Id</td>
                        <td>: <input type="text" name="username" value=""></td>
                      </tr>
                        <tr><td>Select Department</td>
                          <td>:
                               <select name="dept">
                                     <option value="cse">BSc.CSE</option>
                                     <option value="eee">BSc.EEE</option>
                                     <option value="bba">BBA</option>
                             </select>
                          </td>
                        </tr>
                        <tr>
                            <td>Enter a Password</td>
                            <td>: <input type="password" name="password" value=""></td>
                          </tr>
                          <tr>
                            <td>Enter Password</td>
                            <td>: <input type="password" name="cpassword" value=""></td>
                          </tr>
                          <tr>
                        <td colspan="2"><input type="checkbox" name="policy" value=""><b>Yes</b>,I agree to Maintain Library's Discipline.</td>
                      </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit" value="Submit"><input type="reset" name="reset" value="Reset"></td>
                    </tr>
                  </table>
                </fieldset>
              </form>
          
        </td>
      </tr>

      <tr>
        <td align="center" colspan="2" >Copyright &copy; 2021</td>
      </tr>

    </table>

  </body>
</html>