<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashbord</title>
  </head>
  <body>
    <table border="1" cellspacing="0" width="100%" >
      <tr>
        <td colspan="2">
          <table width="100%">
            <tr>
              <td><img height="50px" weight="50px" src="../Resources/logo.png" alt=""></td>
              <td align = "center"><h1>School Management System</h1></td>
              <td align = "right">
                <a href="../Controller/logout.php">Logout</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td width="250px">
          <h3>My Account</h3>
          <hr>
          <ul>
            <li><a href="dashboard.html">Dashboard</a></li>  
            <li><a href="routine.html">Class Routine</a></li>
            <li><a href="viewprofile.html">View Profile</a></li>
            <li><a href="teachernotice.html">Teachers Notice</a></li>
            <li><a href="teacherprofile.html">Teachers Contact Details</a></li>
            <li><a href="schoolnotice.html">School Notices</a></li>
            <li><a href="result.html">Own Result</a></li>
            <li><a href="attendence.html">Attendance List</a></li>
            <li><a href="leaverequest.html">Request for leave</a></li>
            <li><a href="coursedetails.html">Course Details</a></li>
            <li><a href="">Upload Document</a></li>
            <li><a href="requestforbook.html">Request of Books</a></li>
            <li><a href="issuebook.html">Issue Book History</a></li>
            <li><a href="booksinfo.html">Information of Books</a></li>

          </ul>
        </td>
        <td>
            <center><h2>Attendence List</h2></center>
            <table border="1" width="100%">
                <thead>
                  <tr>
                    <th>Month</th>
                    <th>Total Class</th>
                    <th>Total Present</th>
                    <th>Total Absent</th>
                  <tr>  
                </thead>
                <tbody>
                  <tr>
                    <td>January</td>
                    <td align="center">25</td>
                    <td align="center">23</td>
                    <td align="center">02</td>
                  </tr>

                  <tr>
                    <td>February</td>
                    <td align="center">24</td>
                    <td align="center">23</td>
                    <td align="center">01</td>
                  </tr>

                  <tr>
                    <td>March</td>
                    <td align="center">27</td>
                    <td align="center">23</td>
                    <td align="center">04</td>
                  </tr>

                  <tr>
                    <td>Aprill</td>
                    <td align="center">24</td>
                    <td align="center">23</td>
                    <td align="center">01</td>
                  </tr>

                  <tr>
                    <td>May</td>
                    <td align="center">16</td>
                    <td align="center">10</td>
                    <td align="center">06</td>
                  </tr>

                  <tr>
                    <td>June</td>
                    <td align="center">26</td>
                    <td align="center">23</td>
                    <td align="center">02</td>
                  </tr>

                  <tr>
                    <td>July</td>
                    <td align="center">26</td>
                    <td align="center">23</td>
                    <td align="center">03</td>
                  </tr>

                  <tr>
                    <td>August</td>
                    <td align="center">25</td>
                    <td align="center">23</td>
                    <td align="center">02</td>
                  </tr>

                  <tr>
                    <td>September</td>
                    <td align="center">20</td>
                    <td align="center">16</td>
                    <td align="center">04</td>
                  </tr>

                  <tr>
                    <td>October</td>
                    <td align="center">23</td>
                    <td align="center">21</td>
                    <td align="center">02</td>
                  </tr>

                  <tr>
                    <td>November</td>
                    <td align="center">20</td>
                    <td align="center">17</td>
                    <td align="center">03</td>
                  </tr>

                  <tr>
                    <td>December</td>
                    <td align="center">00</td>
                    <td align="center">00</td>
                    <td align="center">00</td>
                  </tr>

                  
                </tbody>
              </table>
        </td>
      </tr>

      <tr>
        <td align="center" colspan="2" >Copyright Ⓒ 2021</td>
      </tr>

    </table>

  </body>
</html>