<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashbord</title>
  </head>
  <body>
    <table border="1" cellspacing="0" width="100%" >
      <tr>
        <td colspan="2">
          <table width="100%">
            <tr>
              <td><img height="50px" weight="50px" src="../Resources/logo.png" alt=""></td>
              <td align = "center"><h1>School Management System</h1></td>
              <td align = "right">
                <a href="../Controller/logout.php">Logout</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td width="250px">
          <h3>My Account</h3>
          <hr>
          <ul>
            <li><a href="dashboard.html">Dashboard</a></li>  
            <li><a href="routine.html">Class Routine</a></li>
            <li><a href="viewprofile.html">View Profile</a></li>
            <li><a href="teachernotice.html">Teachers Notice</a></li>
            <li><a href="teacherprofile.html">Teachers Contact Details</a></li>
            <li><a href="schoolnotice.html">School Notices</a></li>
            <li><a href="result.html">Own Result</a></li>
            <li><a href="">Attendance List</a></li>
            <li><a href="leaverequest.html">Request for leave</a></li>
            <li><a href="">Course Details</a></li>
            <li><a href="">Request for Edit Information</a></li>
            <li><a href="requestforbook.html">Request of Books</a></li>
            <li><a href="issuebook.html">Issue Book History</a></li>
            <li><a href="booksinfo.html">Information of Books</a></li>

          </ul>
        </td>
        <td>
                <center><h2>Library Books Information</h2></center>
                <table border="1">
                  <tr align="center" >
                    <td>SL. No.</td>
                    <td>Name</td>
                    <td>Author</td>
                  </tr>
                  <tr align="center">
                    <td>1</td>
                    <td>Get Real and Get In: How to Get Into the College of Your Dreams by Being Your Authentic Self</td>
                    <td>Dr. Aviva Legatt</td>
                  </tr>
                  <tr align="center">
                    <td>2</td>
                    <td>A Child Called "It" : One Child's Courage To Survive</td>
                    <td>elzer, David J</td>
                  </tr>
                  <tr align="center">
                    <td>3</td>
                    <td>I Know Why The Caged Bird Sings</td>
                    <td>Angelou, Maya</td>
                  </tr>
                  <tr align="center">
                    <td>4</td>
                    <td>The Alchemist</td>
                    <td>Paulo Coelho</td>
                  </tr>
                  <tr align="center">
                    <td>5</td>
                    <td>Aristotle and Dante Discover the Secrets of the Universe</td>
                    <td>Benjamin Alire Sáenz</td>
                  </tr>
                  <tr align="center">
                    <td>6</td>
                    <td>A Prayer for Owen Meany</td>
                    <td>John Irving</td>
                  </tr>
                  <tr align="center">
                    <td>7</td>
                    <td>A Tree Grows in Brooklyn</td>
                    <td>Betty Smith</td>
                  </tr>

                  <tr align="center">
                    <td colspan="4"><a href="#">See More</a></td>
                  </tr>
        </td>
        </table>
      </tr>

      <tr>
        <td align="center" colspan="2" >Copyright Ⓒ 2021</td>
      </tr>

    </table>

  </body>
</html>