<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashbord</title>
  </head>
  <body>
    <table border="1" cellspacing="0" width="100%" >
      <tr>
        <td colspan="2">
          <table width="100%">
            <tr>
              <td><img height="50px" weight="50px" src="../Resources/logo.png" alt=""></td>
              <td align = "center"><h1>School Management System</h1></td>
              <td align = "right">
                <a href="../Controller/logout.php">Logout</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td width="250px">
          <h3>My Account</h3>
          <hr>
          <ul>
            <li><a href="dashboard.html">Dashboard</a></li>  
            <li><a href="routine.html">Class Routine</a></li>
            <li><a href="viewprofile.html">View Profile</a></li>
            <li><a href="teachernotice.html">Teachers Notice</a></li>
            <li><a href="teacherprofile.html">Teachers Contact Details</a></li>
            <li><a href="schoolnotice.html">School Notices</a></li>
            <li><a href="result.html">Own Result</a></li>
            <li><a href="">Attendance List</a></li>
            <li><a href="leaverequest.html">Request for leave</a></li>
            <li><a href="">Course Details</a></li>
            <li><a href="">Request for Edit Information</a></li>
            <li><a href="requestforbook.html">Request of Books</a></li>
            <li><a href="">Issue Book History</a></li>
            <li><a href="">Information of Books</a></li>

          </ul>
        </td>
        <td>
          <h1>Welcome to student page</h1>
        </td>
      </tr>

      <tr>
        <td align="center" colspan="2" >Copyright Ⓒ 2021</td>
      </tr>

    </table>

  </body>
</html>