<!DOCTYPE html>
<html>
  <head>
    <title>Public Home</title>
  </head>
  <body>
    <table border="1" cellspacing="0" width="90%" >
      <tr>
        <td>
            <table width="100%">
                <tr>
                  <td><img height="40px" weight="40px" src="logo.png" alt=""></td>
                  <td align = "right">
                      <a href="HomePage.html">Home</a>|
                      <a href="LoginPage.html">Login</a>|
                      <a href="Registration.html">Regestration</a>
                  </td>
                </tr>
            </table>
          </td>
      </tr>
      <tr>
        <td height="150px" weight="150px" colspan="2">
            <!DOCTYPE html>
<html>
    <head>
        <title>HTML Site</title>
    </head>
    <body>
         <table align="center">
             <tr>
                <td></td>
                <td>
                    <form method="post" action="LoginCheck.php"> 
                        <fieldset width="5px">
                            <legend>LOGIN</legend>
        <form class="" action="" method="post">
           <table>
           <tr>
            <td>User Name:</td> 
            <td><input type="text" name="user" value=""></td>
           </tr>
           <tr>
            <td>Password:</td> 
            <td><input type="password" name="password" value=""></td>
           </tr>
           </table>
            <hr>
            <input type="checkbox" name="box" value="box"> Remember Me<br><br>
            <input type="submit" name="submit" value="Submit">
            <a href="ForgotPass.html">Forgot Password?</a>
        </form>
                        </fieldset>
                        </form>
                </td>
                <td></td>
             </tr>
         </table>
    </body>
</html>
        </td>
      </tr>
      <tr>
        <td align="center" colspan="2">Copyright Ⓒ 2017</td>
      </tr>
    </table>

  </body>
</html>