<!DOCTYPE html>
<html>
<head>
    <title>Add New Books page</title>
</head>
<body>
    <form action="addbooks.php" method="post">

    <table border="1">
        <tr>
            <td>Enter ISBN :</td>
            <td><input type="text" name="isbn" value=""></td>
        </tr>
        <tr>
            <td>Enter Title :</td>
            <td><input type="text" name="booktitle" value=""></td>
        </tr>
        <tr>
            <td>Enter Author :</td>
            <td><input type="text" name="author" value=""></td>
        </tr>
        <tr>
            <td>Enter Edition :</td>
            <td><input type="text" name="isbn" value=""></td>
        </tr>
        <tr>
            <td>Enter Publication :</td>
            <td><input type="text" name="publication" value=""></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add New Book">
                <input type="reset" value="Reset"></td>
        </tr>
    </table>

    </form>
</body>
</html>