<!DOCTYPE html>
<html>
<head>
    <title>Create Library Account page</title>
</head>
<body>
  <table id="header" width="100%" cellspacing="0" border="1">
    <tr>
      <td align="center"><a href="homepage.html"><img height="50px" weight="50px" src="../Assests/logo.png" alt=""></a></td>
      <td align = "center"><h1>School Management System</h1><h3>Library</h3></td>
      <td>
        <div id="topnav" align="center">
          <a href="myprofile.html">My Profile</a>
          <a href="login.html">Logout</a>
        </div>
      </td>
    </tr>
  </table>

<table id="navigation" width="100%" cellspacing="0" border="1">
<tr align="center">
  <td><a href="dashboard.html">Dashboard</a></td>
  <td><a href="deletebook.html">Delete book</a></td>
  <td><a href="viewbook.html">viewbook</a></td>
  <td><a href="login.html">Login</a></td>
  <td><a href="createlibraryacc.html">Create Library Account/Registration</a></td>
  <td><a href="updatebook.html">updatebook</a></td>
  <td><a href="changepassword.html">changepassword</a></td>
</tr>
</table>

<div id="maincontent">
    <form action="regCheck.php" method="POST">
            <fieldset>
              <legend>Create Library Account</legend>
                <table>
                  <tr>
                    <td>Your Email Address</td>
                    <td>: <input type="email" name="mail" value="" ></td>
                  </tr>
                  <tr>
                    <td>Your Name</td>
                    <td>: <input type="text" name="name" placeholder="Academic Name"></td>
                  </tr>
                  <tr>
                    <td>Your Id</td>
                    <td>: <input type="text" name="username" value=""></td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>
                      : <input type="radio" name="gender" value="male">Male
                      <input type="radio" name="gender" value="female">Female
                    </td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td>: <input type="date" name="dob" value=""></td>
                  </tr>
                  <tr>
                    <td>Present Address</td>
                    <td>: <input type="text" name="address" value=""></td>
                  </tr>
                  <tr>
                    <tr>
                        <td>Choose a Password</td>
                        <td>: <input type="password" name="password" value=""></td>
                      </tr>
                      <tr>
                        <td>Confirm Password</td>
                        <td>: <input type="password" name="cpassword" value=""></td>
                      </tr>
                    <td colspan="2"><input type="checkbox" name="policy" value=""><b>Yes</b>,I agree to Maintain Library's Discipline.</td>
                  </tr>
                <tr>
                    <td><input type="submit" name="submit" value="Submit"></td>
                    <td><input type="reset" name="reset" value="Reset"></td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>

        <table id="footer" width="100%" cellspacing="0" border="1">
          <tr>
            <td align="center"><h4>Copyright &copy; 2021</h4></td>
          </tr>
        </table>
</body>
</html>