<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <table id="header" width="100%" cellspacing="0" border="1">
              <tr>
                <td align="center"><a href="homepage.html"><img height="50px" weight="50px" src="../Assests/logo.png" alt=""></a></td>
                <td align = "center"><h1>School Management System</h1><h3>Library</h3></td>
                <td>
                  <div id="topnav" align="center">
                    <a href="registration.html">Registration</a>
                    <a href="login.html">Login</a>
                    <a href="myprofile.html">My Profile</a>
                  </div>
                </td>
              </tr>
            </table>

    <table id="navigation" width="100%" cellspacing="0" border="1">
        <tr align="center">
            <td><a href="dashboard.html">Dashboard</a></td>
            <td><a href="deletebook.html">Delete book</a></td>
            <td><a href="viewbook.html">viewbook</a></td>
            <td><a href="login.html">Login</a></td>
            <td><a href="registration.html">registration</a></td>
            <td><a href="updatebook.html">updatebook</a></td>
            <td><a href="changepassword.html">changepassword</a></td>
        </tr>
    </table>

    <div id="maincontent">
        <p>An e-library or Digital library is a physical site and/ or website that provide around the clock online access to digitized audio, video, and written material. It provides free copies of books, journals, etc. available to the users. ... A digital library is a type of information retrieval system.</p>
    </div>

    <table id="footer" width="100%" cellspacing="0" border="1">
      <tr>
        <td align="center"><h3>Copyright &copy; 2021</h3></td>
      </tr>
    </table>

  </body>
</html>