<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>

    <table border="1" cellspacing="0" width="100%" >
        <tr>
          <td>
            <table width="100%">
              <tr>
                <td><img height="50px" weight="50px" src="../Assests/logo.png" alt=""></td>
                <td align = "center"><h1>School Management System</h1></td>
                <td align = "right">
                  <a href="">About Us</a> |
                  <a href=""> Contact Us</a>
                </td>
              </tr>
            </table>
          </td>
        </tr></table>

    <table id="navigation" border="1">
        <tr>
            <td width="100px"><a href="dashboard.html">Dashboard</a></td>
            <td width="100px"><a href="deletebook.html">Delete book</a></td>
            <td width="100px"><a href="viewbook.html">viewbook</a></td>
            <td width="100px"><a href="login.html">Login</a></td>
            <td width="100px"><a href="registration.html">registration</a></td>
            <td width="100px"><a href="updatebook.html">updatebook</a></td>
            <td width="100px"><a href="changepassword.html">changepassword</a></td>
        </tr>
    </table>

    <div>
        <p>A Library Management System is a software built to handle the primary housekeeping functions of a library. ... Library management systems also involve maintaining the database for entering new books and recording books that have been borrowed with their respective due dates.</p>
        <p>A Library Management System is a software built to handle the primary housekeeping functions of a library. ... Library management systems also involve maintaining the database for entering new books and recording books that have been borrowed with their respective due dates.</p>
        <p>A Library Management System is a software built to handle the primary housekeeping functions of a library. ... Library management systems also involve maintaining the database for entering new books and recording books that have been borrowed with their respective due dates.</p>
    </div>

      <div id="footer" align="center">
        <hr><h3>Copyright &copy; 2021</h3><hr>
      </div>

  </body>
</html>