<!DOCTYPE html>
<html>
<head>
    <title>Create Library Account page</title>
</head>
<body>
    <form action="regCheck.php" method="POST">
            <fieldset>
              <legend>REGESTRATION</legend>
                <table>
                  <tr>
                    <td>Your Email Address</td>
                    <td>: <input type="email" name="mail" value="" ></td>
                  </tr>
                  <tr>
                    <td>Your Name</td>
                    <td>: <input type="text" name="name" placeholder="Academic Name"></td>
                  </tr>
                  <tr>
                    <td>Your Id</td>
                    <td>: <input type="text" name="username" value=""></td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>
                      : <input type="radio" name="gender" value="male">Male
                      <input type="radio" name="gender" value="female">Female
                    </td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td>: <input type="date" name="dob" value=""></td>
                  </tr>
                  <tr>
                    <td>Present Address</td>
                    <td>: <input type="text" name="address" value=""></td>
                  </tr>
                  <tr>
                    <tr>
                        <td>Choose a Password</td>
                        <td>: <input type="password" name="password" value=""></td>
                      </tr>
                      <tr>
                        <td>Confirm Password</td>
                        <td>: <input type="password" name="cpassword" value=""></td>
                      </tr>
                    <td colspan="2"><input type="checkbox" name="policy" value=""><b>Yes</b>,I agree to Maintain Library's Discipline.</td>
                  </tr>
                <tr>
                    <td><input type="submit" name="submit" value="Submit"></td>
                    <td><input type="reset" name="reset" value="Reset"></td>
                </tr>
                
                
            </table>
            </fieldset>
          </form>
</body>
</html>